src/lesson27_xml/_02_base_XML/cats.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="cats">
        <xs:sequence>
            <xs:element name="cat" type="XMLCat" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="XMLCat">
        <xs:attribute name="id" type="xs:positiveInteger" use="required"></xs:attribute>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="age" type="xs:positiveInteger" use="required"></xs:attribute>
    </xs:complexType>
</xs:schema>